#headerContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-weight: 500;
    color: #81E8FF;
}
#logo{
    border-radius: 8px;
}
.infoContainer{
    display: flex;
    width: 15%;
}

.infoTitle{
    font-size: 30px;
    width: 80%;
    text-align: center;
    font-weight: lighter;
}
.infoValue{
    width: 20%;
    text-align: center;
    font-size: 75px;
    margin-left: 20px;
}
#settings{
    display: flex;
    justify-content: center;
    align-items: center;
}
#userName{
    font-size: 20px;
    margin: 10px;
}

#logout{
    cursor: pointer;
    color: black;
    background-color: white;
    height: min-content;
    padding: 3px 8px;
    margin: 10px;
    border-radius: 8px;
}

#menuTrigger img{
    position:absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    width: 40px; 
}
#dropdownMenu{
    position: absolute;
    top:80px;
    right: 20px;
    background-color:#81E8FF;
    color: black;
    border-radius: 10px;
    width: 200px;
}
/* #dropdownMenu::before{
    content: '';
    position: absolute;
    top: -5;
    right: 20px;
    height: 20px;
    width: 20px;
    background: none;
    transform: rotate(45deg);
}*/
ul{
    list-style: none;
    margin-left: 30px;
    padding: 0;
}
#dropdownMenu ul li h3{
    font-size: 15px;
    font-weight: normal;
    color: black;
    cursor: pointer;
}
#dropdownMenu ul li h3:hover{
    font-weight: bold;
} 