#jiraEpicSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jiraEpicTitles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

#jiraEpicTitles div{
    text-align: center;
    color: #000000;
    margin-bottom: 0%;
    font-weight: bold;
}

#account{
    width: 15%
}
#name{
    width: 22%
}
#start{
    width: 11%
}
#due{
    width: 11%
}
#story{
    width: 7%
}
#budget{
    width: 7%
}
#spent{
    width: 7%
}
#complete{
    width: 5%
}
#extra{
    width: 4%;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
}

#extra2{
    width: 4%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

#epic{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    height: 30px;
    margin-top: 8px;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;

}
#epic[statuscolor="red"]{
    background-color: #bd2024;
    color: #ffffff;
}
#epic[statuscolor="orange"]{
    background-color: #ff7900;
    color: #ffffff;

}
#epic[statuscolor="yellow"]{
    background-color: #ffe100;
    color: #000000;
}
#epic[statuscolor="green"]{
    background-color: #7aff64;
    color: #000000;
}

#chevronArrowDown {
    display: inline-block;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    width: 10px; height: 10px;
    transform: rotate(45deg);
    cursor: pointer;
  }

.dot{
    height: 6px;
    width: 6px;
    margin:1.5px;
    padding: 0%;
    border-radius: 50%;
    display: inline-block;
    background-color: #000000;
    cursor: pointer;
}
.dot[statuscolor="red"]{
    background-color: #ffffff;
}
.dot[statuscolor="orange"]{
    background-color: #ffffff;
}
.dot[statuscolor="yellow"]{
    background-color: #000000;
}
.dot[statuscolor="green"]{
    background-color: #000000;
}

#dropdown{
    margin-top: 30px ;
    position: absolute;
    background-color: white;
    color: #000000;
    border-radius: 5px;
}
.dropdownItem{
    padding: 2px 4px;
    text-decoration: none;
}