#supportticketsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ticketheadings{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#ticketheadings p{
    text-align: center;
    color: #000000;
    width: 12%;
    margin-bottom: 0%;
}
#ticket{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #dc2a2a;
    margin: 10px;
    border-radius: 15px;
}
#ticket p{
    text-align: center;
    color: #ffffff;
    width: 12%;
}