#popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}
#popupinner{
    /* position: relative; */
    z-index: 11;
    padding: 32px;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: #7b73ff;
}
.label{
    color: black;
}
.input{
    height: 30px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    text-align: top;
}
#userName{
    color: black;
    text-align: end;
}
#windowName{
    color: black;
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
}
#windowName p{
    color: black;
    font-size: 20px;
    font-weight: lighter;
}
#formStyle{
    width: 100%;
}
#subject{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#comment{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#comment input{
    height: 150px;
    text-align: top;
}
#prioritytype{
    display: flex;
    margin-top: 10px;
    gap: 30px;
    width: 78%;
}
#typedropdown {
    width: 60%;
    display: flex;
    flex-direction: column;
}
#prioritydropdown {
    width: 60%;
    display: flex;
    flex-direction: column;
}
#dropdownMenu{
    position: absolute;
    top:80px;
    right: 20px;
    background-color:#81E8FF;
    color: black;
    border-radius: 10px;
    width: 200px;
}
.ul{
    list-style: none;
    margin-left: 30px;
    padding: 0;
}
#submitbuttons{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
button{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 213, 255);;
    border: none;
    border-radius: 10px;
    font-size: 16px;

    font-weight: bolder;
}
#responseTable{
    color: black;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}
#responseTable, th, td {
    border: 2px solid black;
  }
#tableHeader{
    background-color: black;
    font-weight: bold;
    color: white;
}


